.wrapper {
    margin-bottom: 1rem;

}

.label {
    display: block;
    font-size: 1rem;
    line-height: 1;
    padding-bottom: .3rem;
}

.input {
    border: 1px solid var(--ligth-gray);
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: .8rem;
    border-radius: .4rem;
    background: var(--ligth-gray);
    transition: .2s;
}

.input:focus, input:hover {
    outline: none;
    border-color: var(--yellow-500);
    background: var(--white);
    box-shadow: 0 0 0 1px #fea;
}

.error {
    color: var(--danger);
    font-size: .875rem;
    margin-top: .25rem;
}