.header {
    box-shadow: var(--box-shadow);
    position: fixed;
    width: 100%;
    z-index: 100;
    background: #fff;
    top: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.logo {
    padding: .5rem 0;
}

.login {
    color: var(--type-first);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}